:root {
  --light-purple: hsl(303, 100%, 50%);
  --dark-purple: hsl(291, 100%, 28%);
  --white: hsl(0, 100%, 100%);
  --light-gray: hsl(0, 0%, 70%);
  --black: hsl(0, 0%, 0%);
  --med-gray: hsl(0, 0%, 60%);
}

* {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3#highScores {
  color: var(--light-purple);
}

h3#timer {
  color: var(--black);
}

#intro {
  display: flex;
  flex-direction: column;
}

#active {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

#quizResponse {
  display: block;
  border-top: 2px solid var(--med-gray);
  font-size: larger;
  font-style: italic;
  color: var(--med-gray);
  padding-top: 10px;
}
