:root {
  --light-purple: hsl(303, 100%, 50%);
  --dark-purple: hsl(291, 100%, 28%);
  --white: hsl(0, 100%, 100%);
  --light-gray: hsl(0, 0%, 70%);
  --black: hsl(0, 0%, 0%);
}

* {
  margin: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3#highScores {
  color: var(--light-purple);
}

h3#timer {
  color: var(--black);
}

#intro {
  display: flex;
  flex-direction: column;
}
